<div class="article-page">
  <div class="banner">
    @if (article) {
    <div class="container">
      <h1>{{article.title}}</h1>
      <div class="article-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image || '../../../assets/images/default-user.png'" alt="author logo">
        </a>
        <div class="info">
          <a [routerLink]="['/profiles', article.author.username]">{{article.author.username}}</a>
          <span class="date">{{article.createdAt}}</span>
        </div>
        <span>
          @if (isAuthor$ | async) {
          <a [routerLink]="['/articles', article.slug, 'edit']" class="btn btn-outline-secondary btn-sm">
            <i class="ion-edit"></i>
            Edit Article
          </a>
          <button class="btn btn-outline-danger btn-sm" (click)="deleteArticle()">
            <i class="ion-trash-a"></i>
            Delete Article</button>
          } @else {
          <mc-add-to-follow [isFollwed]="article.author.following" [username]="article.author.username"
            [isLoggedIn]="isLoggedIn$| async"></mc-add-to-follow>
          <mc-add-to-favorites [isFavorited]="article.favorited" [articleSlug]="article.slug"
            [favoritesCount]="article.favoritesCount" [isBigButton]="true"></mc-add-to-favorites>
          }
        </span>
      </div>
    </div>
    }
  </div>
  <div class="container page">
    @if (isLoading$ | async) {
    <mc-loading></mc-loading>
    }
    @if (error$ | async) {
    <mc-error-message></mc-error-message>
    }
    <div class="row article-content">
      @if (article) {
      <div class="col-xs-12">
        <div>
          <p class="article-body">{{article.body}}</p>
        </div>
        <mc-tag-list [tags]="article.tagList"></mc-tag-list>
      </div>
      }
    </div>
    <hr>
    @if (article) {
    <div class="article-actions">
      <div class="article-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image || '../../../../assets/images/default-user.png'" alt="User image">
        </a>
        <div class="info">
          <a [routerLink]="['/profiles', article.author.username]" class="author">{{article.author.username}}</a>
          <span class="date">{{article.createdAt}}</span>
        </div>
        <span>
          @if (isAuthor$ | async) {
          <a [routerLink]="['/articles', article.slug, 'edit']" class="btn btn-outline-secondary btn-sm">
            <i class="ion-edit"></i>
            Edit Article
          </a>
          <button class="btn btn-outline-danger btn-sm" (click)="deleteArticle()">
            <i class="ion-trash-a"></i>
            Delete Article</button>
          } @else {
          <mc-add-to-follow [isFollwed]="article.author.following"
            [username]="article.author.username"></mc-add-to-follow>
          <mc-add-to-favorites [isBigButton]="true" [isFavorited]="article.favorited"
            [favoritesCount]="article.favoritesCount" [articleSlug]="article.slug"></mc-add-to-favorites>
          }
        </span>
      </div>
    </div>
    <mc-article-comments [articleSlug]="article.slug"></mc-article-comments>
    }
  </div>
</div>