.article-title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-body {
  text-align: justify;
}

.article-meta {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.article-controls {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 0 6px;
}
