<div class="article-page">
  <div class="banner">
    @if (article) {
    <div class="container">
      <h1 class="article-title">{{article.title}}</h1>
      <mc-article-meta [article]="article" [isAuthor]="isAuthor$ | async" [isLoggedIn]="isLoggedIn$ | async"
        (editArticleEvent)="editArticle()" (deleteArticleEvent)="deleteArticle()"></mc-article-meta>
    </div>
    }
  </div>
  <div class="container page">
    @if (isLoading$ | async) {
    <mc-loading></mc-loading>
    }
    @if (error$ | async) {
    <mc-error-message></mc-error-message>
    }
    <div class="row article-content">
      @if (article) {
      <div class="col-xs-12">
        <p class="article-body" markdown ngPreserveWhitespaces>
          {{article.body}}
        </p>
        <mc-tag-list [tags]="article.tagList"></mc-tag-list>
      </div>
      }
    </div>
    <hr>
    @if (article) {
    <div class="article-actions">
      <mc-article-meta [article]="article" [isAuthor]="isAuthor$ | async" [isLoggedIn]="isLoggedIn$ | async"
        (editArticleEvent)="editArticle()" (deleteArticleEvent)="deleteArticle()"></mc-article-meta>
    </div>
    <mc-article-comments [articleSlug]="article.slug"></mc-article-comments>
    }
  </div>
</div>