<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">
    @if (isLoading$ | async) {
    <div>Loading...</div>
    }
    @if (errors$ | async) {
    <mc-backend-error-messages [backendErrors]="errors$ | async"></mc-backend-error-messages>
    }
    @if (isLoggedIn$ | async) {
    <div>
      <form class="card comment-form" [formGroup]="addCommentForm" id="addCommentForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <div class="card-block">
            <textarea id="commentBody" placeholder="Write a comment..." rows="3" class="form-control"
              formControlName="body"></textarea>
          </div>
          <div class="card-footer">
            <img [src]="(currentUser$ | async)?.image || defaultUserImage" class="comment-author-img"
              alt="Comment author image">
            <button type="submit" class="btn btn-sm btn-primary"
              [disabled]="(isSubmitting$ | async) || body?.invalid">Post
              Comment</button>
          </div>
        </fieldset>
      </form>
    </div>
    @for (comment of articleComments$ | async; track comment.id) {
    <mc-comment-card [articleSlug]="articleSlugProps" [comment]="comment"></mc-comment-card>
    }
    } @else {
    <div><a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">Sign up</a> to add comments on this
      article.</div>
    }
  </div>
</div>
