.like-btn {
  background-color: #fff;
  border: 1px solid #5cb85c;
  color: #5cb85c;

  &-active {
    background-color: #5cb85c;
    border: none;
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}
